body {
    background-color: black;
}
.container {
    display: inline-block;
}
h1 {
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    font-family: "Monaco", monospace;
}
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}
@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: darkgreen;
    }
}

p {
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    font-family: "Monaco", monospace;
}

a {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    font-family: "Monaco", monospace;
    color: #FFFFFF;
}


h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: left;
   font-family: "Monaco", monospace;
    color: #FFFFFF;
}

h3 {
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    font-family: "Monaco", monospace;
    color: #FFFFFF;
}
    h3::after {
        content: "";
        width: 8px;
        height: 40px;
        background: #FFBD00;
        display: inline-block;
        animation: cursor-blink 1.5s steps(2) infinite;
    }

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

img {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    align-content: center;
}


marquee {
    font-size: 30px;
    text-align: center;
    background-color: #A16E00;
    margin-top: 10px;
    color: #ffffff;
    font-family: "Monaco", monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
