body {
    background-color: black;
}
.container {
    display: inline-block;
}
h1 {
    font-family: "Lucida Console";
    color: darkgreen;
    overflow: hidden;
    border-right: .15em solid orange;
    font-size: 1.6rem;
    width: 0;
    animation: typing 1s steps(20, end) forwards, blink .8s infinite;
}
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}
@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: darkgreen;
    }
}
